html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="range"] {
  --minRangePercent: 0%;
  --maxRangePercent: 0%;
  height: 0.4rem;
}

.min_max_slider > input.min {
  background-image: linear-gradient(
    to right,
    silver 0% silver var(--minRangePercent),
    orange var(--minRangePercent),
    orange 100%
  );
}

.min_max_slider > input.max {
  background-image: linear-gradient(
    to right,
    orange 0%,
    orange var(--maxRangePercent),
    silver var(--maxRangePercent),
    silver 100%
  );
}

.intro {
  max-width: 50rem;
}

.intro a {
  color: blue;
}

.intro a:hover {
  text-decoration: underline;
}
